[Desktop Entry]
Version=1.0
Name=Emacs Snapshot (GTK)
GenericName=Emacs
Comment=GNU Emacs Snapshot Text Editor
Exec=/usr/bin/emacs-snapshot-gtk
TryExec=emacs-snapshot
Terminal=false
Type=Application
Icon= /usr/share/icons/Faenza/apps/96/emacs23.png
Categories=Development;Utility;TextEditor;
MimeType=text/plain;
